body {
    background-color: #272727;
    color: white;
    font-family: oswald;
}

* {
    font-family: oswald;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

.logo {
    width: 8rem;
    height: 8rem;
}

ul.Navbar {
    list-style-type: none;
    margin: 1.5rem;
    padding: 0;
    overflow: hidden;
}

ul.Navbar li {
    float: left;
}

ul.Navbar li a {
    display: block;
    color: #0AC2FF;
    text-align: center;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-decoration: none;
    font-size: 2rem;
}

ul.Navbar li.right {
    float: right;
}

@media screen and (max-width: 600px) {

    ul.Navbar li.right,
    ul.Navbar li {
        float: none;
    }
}

.boxes {
    display: flex;
    justify-content: center;
}

.box {
    width: 50rem;
    height: 50rem;
    margin-left: 3rem;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background: #272727;
    -webkit-box-shadow: 5px 5px 10px #121212,
        -5px -5px 10px #3c3c3c;
    box-shadow: 5px 5px 10px #121212,
        -5px -5px 10px #3c3c3c;
}

.box p {
    padding: 5rem 4rem 0rem 4rem;
    font-size: 5rem;
    line-height: 5.5rem;
    text-transform: uppercase;
}

.box h4 {
    padding: 5rem 4rem 5rem 4rem;
    font-size: 2rem;
    font-weight: normal;
}

.sec1 {
    width: 155rem;
    height: 50rem;
    margin-top: 3rem;
}